@inherits ViewPage<NorthwindServices.App.ServiceModel.Response.ProductsByCategoryNameResponse>

<ul>
    @foreach (var product in Model.ProductDetails)
    {
        <li>@string.Format("{0} {1} {2}", product.CategoryInfo.Name, product.Name, product.UnitPrice)</li>
    }
</ul>